.add-product {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-self: center;
    justify-content: center;
}

.add-product-input {
    width: 290px;
    margin-bottom: 2.5px;
    /* margin-top: 2.5px; */
}

.input-container {
    /* height: 700px; */
    margin: 30px;
}

.add-image {
    width: 200px;
    height: 200px;
    border: 2px dashed #cccccc;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}