header {
    min-width: 100%;
    /* height: 70px; */

    background-color: #000D22;
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}

.user-input {
    width: 200px;
}

.logo {
    margin-left: 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo * {
    margin: 5px;
}
 
.logo-name {
    color: #fff;
    font-size: 30px;

}

.menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* margin: auto; */
}

.menu-item {
    margin: 30px;
    text-decoration: none;
    color: #9898aa;
    font-size: 20px;
    white-space: nowrap;
}

.menu-item:hover {
    text-decoration: underline;
    color: #ffffff;
}

.item-active {
    text-decoration: underline;
    color: #ffffff;
    margin: 30px;
    font-size: 20px;
    white-space: nowrap;
}

.user {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* align-self: flex-end; */
    /* margin-left: auto; */

}

.user * {
    margin: 5px;
}

.user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-name {
    color: #cccccc;
}

.page-style {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
}

.page-style-text {
    color: #cccccc;
}

.slider-text-dark {
    color: #cccccc;
}

.slider-text-light {
    color: #424242;
}

@media only screen and (max-width: 1060px) {
    header {
        flex-direction: column;
        align-items: center;
        /* justify-content: center; */
    }

    .menu {
        justify-content: center;
    }

    .logo {
        margin: 0;
    }
}